.custom-box {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.centered-button {
  display: flex;
  justify-content: center;
}

.card-body {
  color: rgba(255,99,99,1.00);
}
